.form {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: calc(0px - 1.5rem - 3px);

  gap: 8px;
}

.form > input {
  background-color: var(--gray-500);
  color: var(--gray-300);

  border: 1px solid var(--gray-700);

  border-radius: 8px;
  width: 736px;
  height: 54px;
  padding-left: 16px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px;
  border: none;

  gap: 8px;
  color: var(--gray-100);

  font-size: 0.875rem;

  line-height: 1.4rem;
  cursor: pointer;

  background-color: var(--blue-dark);
  border-radius: 8px;
}
